circle.person {
    stroke: rgb(211, 173, 233);
    stroke-width: 1.5;
}

line.relation {
    stroke: rgb(211, 173, 233);
    stroke-width: 2;
    stroke-opacity: 0.6;
}

text.name {
    font-family: 'Cute', 'Wawati SC';
}
