body {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.wrap {
    display: block;
}

h2 {
    text-align: center;
}

input[text] {
    height: 18px;
}

circle.person {
    stroke: rgb(211, 173, 233);
    stroke-width: 1.5;
}

line.relation {
    stroke: rgb(211, 173, 233);
    stroke-width: 2;
    stroke-opacity: 0.6;
}

text.person {
    font-family: 'Wawati SC', 'Cute';
}

text.relation {
    visibility: hidden;
    font-family: 'Wawati SC', 'Cute';
}

text.relation-show {
    visibility: visible;
}

.panel {
    position: fixed;
    bottom: 0;
    height: 30%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: space-around;
}

.icon.button {
    width: 30px;
    height: 30px;
    cursor: url('/image/icon/magic-wand.png'), auto;
}

.icon.button:hover {
    opacity: 0.5;
}

.person.remove {
    cursor: url('/image/icon/sword.png'), auto;
}

.person.remove:hover {
    opacity: 0.5;
    /* background: radial-gradient(circle at center, red 0, blue, green 100%) */
}

.overlay-content {
    width: 350px;
    padding: 0 50px 15px 50px;
}

form {
    position: relative;
    overflow: hidden;
}

form > * {
    margin: 18px;
    white-space: nowrap;
}

form > * > * {
    display: inline-block;
}

form > [type="submit"] {
    float: right;
}

form input.name {
    width: 150px;
}

form div.relation-container > div.relation {
    padding: 3px 0;
    font-size: 0;
}

form div.relation-container > div.relation > * {
    margin: 0 1px;
}

form div.relation-container > div.relation.wrap {
    margin-left: 40px;
}

form select.relation {
    width: 73px;
}

form input.relation {
    width: 73px;
}

form img.icon.button.relation {
    margin-left: 5px;
    vertical-align: text-bottom;
    width: 18px;
    height: 18px;
}

div.target {
    margin-left: 50px;
}

div.target > * {
    margin: 10px;
}

.highlight {
    stroke: rgb(7, 226, 197) !important;
    stroke-width: 2px !important;
}
